/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 10, 2019, 12:08:34 PM
    Author     : user
*/
$white: #fff;
$black: #000;
$aqua: #27bcc2;
$red: #d62432;
$green: #18b20d;
$purple: #6c2682;

$purple_light: #58248a;
$blue_dark: #11365a;
$pink_medium: #b62e65;
$grey_light: #f0f2ef;
$grey_medium: #707070;
$grey_light2: #969696;
$black_coal: #181818;

$query1360: "(max-width: 1360px)";
$query1600: "(max-width: 1600px)";
$query1199: "(max-width: 1199px)";
$query991: "(max-width: 991px)";
$query900: "(max-width: 900px)";
$query800: "(max-width: 800px)";
$query1024: "(max-width: 1024px)";
$query767: "(max-width: 767px)";
$query600: "(max-width: 600px)";
$query576: "(max-width: 576px)";
$query479: "(max-width: 479px)";
$query400: "(max-width: 400px)";
$query414: "(max-width: 414px)";

$querymin768: "(min-width: 768px)";
$querymin992: "(min-width: 992px)";
$querymin992_1199: "(min-width: 992px) AND (max-width: 1199px) ";